<section>
	<div>
		<h1>Education and Qualifications</h1>

		<h3>University of Southampton</h3>
		<p class="date">June 2010 - June 2013 (3 years)</p>
		BEng Electronic Engineering with Second Class Honours (Upper Division)

		<h3>Albert-Schweitzer-Gymnasium</h3>
		<p class="date">June 2001 - June 2010 (9 years)</p>
		Allgemeine Hochschulreife (Abitur): Overall Grade 1.6
	</div>
</section>

<section>
	<div>
		<h1>Employment</h1>

		<h3>Garmsby Ltd | <a href="https://garmsby.co.uk">garmsby.co.uk</a></h3>
		<p class="date">June 2013 - present (13 months)</p>
		Co-founded a crowd-sourcing platform with 2500+ users worldwide. Designed and developed the entire site myself using the web framework Django with HTML, CSS and JavaScript for front-end development. Worked full-time for 5 months and continued as a part-time employee whilst travelling.

		<h3>MultiCom GmbH</h3>
		<p class="date">April 2013 (2 weeks)</p>
		Developed and implemented a height measuring image processing algorithm on an embedded system. Applied many of the image processing techniques acquired at university and delivered a functioning prototype within the 2 weeks available.

		<h3>MultiCom GmbH | <a href="http://sincotool.com/">sincotool.com</a></h3>
		<p class="date">June 2012 - September 2012 (3 months)</p>
		Developer for the ‘Swell’ project: an intelligent bed for use in hospitals. In a small team of developers we took the entire hardware from first prototypes to PCBs ready to go into production. I also wrote apiece of Windows-based software in C# to test a daisy chain of PCBs using a single USB port. Gained further experience in working with ARM microprocessors and implementing camera chips in particular.

		<h3>Ingenieurbüro Waite GmbH</h3>
		<p class="date">June 2007 (2 weeks)</p>
		Translated an entire application to German, as well as designing and running tests for the program.
	</div>
</section>

<section>
	<div>
		<h1>Internships</h1>

		<h3>MultiCom GmbH</h3>
		<p class="date">June 2011 - September 2011 (3 months)</p>
		Designed and built a slave device for the Beckhoff EtherCAT fieldbus system to drive power LEDs. Involved working with NXP microcontrollers running ARM microprocessors, various interface buses and meeting general requirements of a real life product.

		<h3>BP Spain/UK (School Internship)</h3>
		<p class="date">April 2009 (2 weeks)</p>
		Developed an interface between an existing supply management- and a SAP system that was being deployed at the time. It converted CSV into XML files using Excel spreadsheets and macros programmed in Visual Basic to automate the process.

		<h3>Ingenieurbüro Waite GmbH</h3>
		<p class="date">April 2007 (3 weeks)</p>
		Visually adapted a piece of software to suit a customer’s needs using HTML and CSS.
	</div>
</section>

<section>
	<div>
		<h1>Skills</h1>
		<table>
			<tr>
				<td>
					<h3>Python</h3>
					<ul>
						<li>2 years of experience writing at university and for garmsby</li>
						<li>SciPy library for data analysis and plots</li>
					</ul>
				</td>
				<td>
					<h3>Django</h3>
					<ul>
						<li>Bachelor Thesis and garmsby largest projects</li>
						<li>Created an entire e- commerce site within a few months using</li>
					</ul>
				</td>
				<td>
					<h3>HTML/CSS</h3>
					<ul>
						<li>HTML5/CSS/LESS</li>
						<li>7 years of experience in numerous projects</li>
					</ul>
				</td>
			</tr>
			<tr>
				<td>
					<h3>JavaScript</h3>
					<ul>
						<li>2 years of experience including D3.js, jQuery, Modernizr</li>
						<li>Built many dynamics front- ends using AJAX</li>
					</ul>
				</td>
				<td>
					<h3>C#</h3>
					<ul>
						<li>Experience in developing native Windows, as well as Windows Phone apps</li>
						<li>3rd place in a university app development contest in 2011</li>
					</ul>
				</td>
				<td>
					<h3>Hosting</h3>
					<ul>
						<li>Hosted projects on university servers, Heroku as well as private Raspberry Pi servers running LAMP stacks</li>
						<li>Experienced with Amazon Web Services, in particular S3</li>
					</ul>
				</td>
			</tr>
			<tr>
				<td>
					<h3>Marketing</h3>
					<ul>
						<li>Google Analytics</li>
						<li>SEO</li>
						<li>Social Media</li>
					</ul>
				</td>
				<td>
					<h3>Non-technical</h3>
					<ul>
						<li>Raised bilingual, native in German and English</li>
						<li>Strong rhetorical skills, named my school’s ‘public speaker of the year’ in 2008</li>
					</ul>
				</td>
				<td>
					<h3>Hobbies</h3>
					<ul>
						<li>Passionate musician, active as a solo singer songwriter</li>
						<li>Footballer at SC Poppenbüttel in Hamburg</li>
					</ul>
				</td>
			</tr>
		</table>
	</div>
</section>