<section>
	<div>
		<h1>Garmsby</h1>
		Garmsby is an online platform for young fashion designers to share their work, build a brand for themselves and have their work produced. Anyone can vote on designs and each week, we produce the most popular ones, with the majority of the profit always going back to the designers.<br>

		<a href="/img/garmsby/home.png" data-lightbox="garmsby"><img src="/img/garmsby/home.png" class="project-preview"></a>
		<a href="/img/garmsby/login.png" data-lightbox="garmsby"><img src="/img/garmsby/login.png" class="project-preview"></a>
		<a href="/img/garmsby/choose.png" data-lightbox="garmsby"><img src="/img/garmsby/choose.png" class="project-preview"></a>
		<a href="/img/garmsby/store.png" data-lightbox="garmsby"><img src="/img/garmsby/store.png" class="project-preview"></a>
		<a href="/img/garmsby/design.png" data-lightbox="garmsby"><img src="/img/garmsby/design.png" class="project-preview"></a><br>

		<span class="bp-icon icon-www"></span><a href="https://garmsby.co.uk" class="project-link">garmsby.co.uk</a>
		<span class="bp-icon icon-github"></span><a href="https://github.com/jmorrice/garmsby-snippets" class="project-link">garmsby-snippets</a>
		<span class="bp-icon icon-mail"></span><a href="mailto:jonny@garmsby.co.uk" class="project-link">jonny@garmsby.co.uk</a>

	</div>
</section>

<section>
	<div>
		<h1>SmartHeat</h1>
		SmartHeat is an open source platform for interactive visualisation of sensor data. This project was my Bachelor thesis and I've published the full report under the link shown below. Please see the blog or report for further details and required circuitry.<br>

		<a href="/img/smartheat/linear_time.png" data-lightbox="smartheat"><img src="/img/smartheat/linear_time.png" class="project-preview"></a>
		<a href="/img/smartheat/linear_cluster.png" data-lightbox="smartheat"><img src="/img/smartheat/linear_cluster.png" class="project-preview"></a>
		<a href="/img/smartheat/radial_time.png" data-lightbox="smartheat"><img src="/img/smartheat/radial_time.png" class="project-preview"></a>
		<a href="/img/smartheat/radial_cluster.png" data-lightbox="smartheat"><img src="/img/smartheat/radial_cluster.png" class="project-preview"></a><br>

		<span class="bp-icon icon-www"></span><a href="http://3ypjmorrice.blogspot.de" class="project-link">3ypjmorrice.blogspot.de</a>
		<span class="bp-icon icon-github"></span><a href="https://github.com/jmorrice/smartheat_arduino" class="project-link">smartheat_arduino</a>
		<span class="bp-icon icon-doc"></span><a href="/jmorrice-smartheat.pdf" class="project-link">Final Project Report</a>

	</div>
</section>

<section>
	<div>
		<h1>Portfolio</h1>
		Quick Portfolio site I created whilst applying for jobs in Summer '14. The site you're currently viewing.<br>

		<a href="/img/portfolio/cv.png" data-lightbox="portfolio"><img src="/img/portfolio/cv.png" class="project-preview"></a>
		<a href="/img/portfolio/projects.png" data-lightbox="portfolio"><img src="/img/portfolio/projects.png" class="project-preview"></a><br>

		<span class="bp-icon icon-www"></span><a href="http://jmorrice.github.io" class="project-link">jmorrice.github.io</a>
		<span class="bp-icon icon-github"></span><a href="https://github.com/jmorrice/jmorrice.github.io" class="project-link">jmorrice.github.io</a>

	</div>
</section>